/*  your css code here. If applicable */

body{
	background: #f5f5f5;
}
.head{
	background: #011e29;
	text-align: center;
	color:white;}
.article-container{
	display:flex;
	width:auto;
	
	
}
.news-article{
	display:inline;
	text-align:center;
	margin: 1px;
	padding: 1px;
	width:auto;
	background: #fff;
	height: 20px;
}
.main-article{
	display:inline;
	text-align:center;
	margin: 1px;
	padding: 1px;
	width:auto;
	background: #fff;
	height: 20px;
}
.pictorial-article{
	
	display:inline;
	background: #fff;
	margin: 1px;
	padding: 1px;
	width:auto;
	height: 30px;

}

